<%= @space.name %>
<%= @space.description %>
£<%= @space.price %>
<%= @space.available_from %>
<%= @space.available_to %>
<img src="<%= @space.image_url %>" width="300" height="300">
<form action="/requests" method="post">
  <input type='hidden' value='<%= @space.id %>' name='id'>
  <label>
    Pick a night:
    <input name="book_a_night" type="date" min="<%= Time.now.strftime('%F') %>" max="<%= @space.available_to %>">
  </label>
  <button type="submit">
    Request to book
  </button>
</form>
