<div class="specific-space" style="background-image: url('<%= @space.image_url %>')">
  <img src="<%= @space.image_url %>">
</div>
<div class='row'>
    <table align='center' class='space-text'>
      <tr><td>
  <h1><%= @space.name %></h1>
</td>
<td>
  <% if current_user.id == @space.user_id %>
    <form action="/spaces/update" method="get">
      <input type='hidden' value='<%= @space.id %>' name='id'>
      <button class="btn-primary"type="submit">Update my space</button>
    </form>

  <% else %>

    <form action="/requests" method="post">
      <input type='hidden' value='<%= @space.id %>' name='id'>
      <label>
        Pick a night:
        <input name="book_a_night" type="date" min="<%= Time.now.strftime('%F') %>" max="<%= @space.available_to %>" required>
      </label>
      <button class="btn-primary" type="submit">
        Request to book
      </button>
    </form>

  <% end %>
  
</td>
</tr>
<tr><td>
  <h2>Details:</h2>
  <p><%= @space.description %></p>
  <p>£<%= sprintf('%.2f', @space.price) %> per night</p>
  <p>Available from <%= @space.available_from.strftime("%d/%m/%Y") %> to <%= @space.available_to.strftime("%d/%m/%Y") %></p>
</td>

<td>
  <% if !@space.unavailable_dates.empty? %>

  <p>This space is unavailable<br> on the following dates:</p>

  <% end %>

  <div>
    <ul id="unavailable_dates">
      <% @unavailable_dates.each do |date| %>
        <li><%= date.strftime("%d/%m/%Y") %></li>
      <% end %>
    </ul>
  </div>
</td>
</tr>
</table>


  <br><br>
</div>
