<%= @space.name %>
<%= @space.description %>
<%= @space.price %>
<%= @space.available_from %>
<%= @space.available_to %>

<form action="/requests" method="post">
  <input type='hidden' value='<%= @space.id %>' name='id'>
  <button type="submit">
    Request to book
  </button>
</form>
