<html>
  <body>

    <form method="get" action="/spaces/new">
      <button type="submit">
        List a Space
      </button>
    </form>

    <div>
      <ul id="spaces">
        <% @spaces.each do |space| %>
          <%= space.name %>
          <%= space.description %>
          <%= space.price %>
          <%= space.available_from %>
          <%= space.available_to %>
          <p>
        <% end %>
      </ul>
    </div>
  </body>
</html>
