<html>
  <body>

    <%if params[:username]%>
      <h1 align='center'><%=params[:username]%>'s spaces</h1>
    <%else%>
      <h1 align='center'> Available spaces:</h1>
    <% end %>

    <div class="list-a-space-btn">
      <form method="get" action="/spaces/new">
        <button type='submit' class="btn btn-primary">List a Space</button>
      </form>
    </div>
    
    <div class="row">
      <ul id="spaces">
        <% @spaces.each do |space| %>
        <div class='listing'>
          <a href="/spaces/<%= space.id %>">
            <img src="<%= space.image_url %>">
          <h2 align='left'><%= space.name %></h2>
          </a>
          <p><%= space.description %></p>
          <p>£<%= sprintf('%.2f', space.price) %> per night</p>
          <p>Available from <%= space.available_from.strftime("%d/%m/%Y") %> to <%= space.available_to.strftime("%d/%m/%Y") %></p>
        </div>
        <% end %>
      </ul>
    </div>
  </body>
</html>
