<html>
  <body>

    <%if params[:username]%>
      <p><%=params[:username]%>'s spaces</p>
    <% end %>

    <form method="get" action="/spaces/new">
      <button type='submit' class="btn btn-primary">List a Space</button>
    </form>

    <div class="row">
      <ul id="spaces">
        <% @spaces.each do |space| %>
        <div class='listing'>
          <a href="/spaces/<%= space.id %>">
          <img src="<%= space.image_url %>" width="150" height="150" align='right'>
          <h2 align='left'><%= space.name %></h2>
          </a>
          <p><%= space.description %></p>
          <p>£<%= sprintf('%.2f', space.price) %> per night</p>
          <p>Available from <%= space.available_from.strftime("%d/%m/%Y") %> to <%= space.available_to.strftime("%d/%m/%Y") %></p>
        </div>
        <% end %>
      </ul>
    </div>
  </body>
</html>
