<html>
  <body>

    <%if params[:username]%>
      <p><%=params[:username]%>'s spaces</p>
    <% end %>

    <form method="get" action="/spaces/new">
      <button type="submit">
        List a Space
      </button>
    </form>

    <div>
      <ul id="spaces">
        <% @spaces.each do |space| %>
          <a href="/spaces/<%= space.id %>">
          <%= space.name %>
          <img src="<%= space.image_url %>" width="300" height="300">
          </a>
          <%= space.description %>
          £<%= space.price %>
          <%= space.available_from %>
          <%= space.available_to %>
          <p>
        <% end %>
      </ul>
    </div>
  </body>
</html>
