<% if current_user.id != @space.user_id %>

<h1>You have requested to book <%= @space.name %><p></h1>

<% end %>


<%= @space.description %><p>
<%= @space.price %>

<p>Status: <%= @status %></p>

<% if current_user.id == @space.user_id %>

<form action='/requests/outcome' method='post'>
  <input type='hidden' value='<%= @id %>' name='id'>
  <input type='hidden' value='accepted' name='status'>
  <button type="submit"> Confirm Request </button>
</form>
<form action='/requests/outcome' method='post'>
  <input type='hidden' value='<%= @id %>' name='id'>
  <input type='hidden' value='declined' name='status'>
  <button type="submit"> Decline Request </button>
</form>

<% end %>
