<div class="specific-space" style="background-image: url('<%= @space.image_url %>')">
  <img src="<%= @space.image_url %>">
</div>
<div class="row">
  <table align='center' class='space-text'>
<tr><td>
    <% if current_user.id == @user.id %>
<h1>You have requested to book <%= @space.name %><p></h1>
  <% elsif current_user.id == @space.user_id %>
  <h1><%= @user.username %> has requested to book <%= @space.name %><p></h1>
<% end %>
</td></tr>
<tr><td>
  <p><%= @space.description %></p>
  <p>£<%= sprintf('%.2f', @space.price) %></p>
  <p>Date: <%= @booking.date.strftime("%d/%m/%Y") %></p>
  <p>Status: <%= @booking.status %></p>
</td></tr>
</table>

<% if current_user.id == @space.user_id %>
<table align='center'><tr><td>
<form action='/requests/outcome' method='post'>
  <input type='hidden' value='<%= @booking.id %>' name='id'>
  <input type='hidden' value='accepted' name='status'>
  <button type="submit" class="btn btn-primary"> Confirm Request </button>
</form>
</td><td>
<form action='/requests/outcome' method='post'>
  <input type='hidden' value='<%= @booking.id %>' name='id'>
  <input type='hidden' value='declined' name='status'>
  <button type="submit" class="btn btn-primary"> Decline Request </button>
</form>
</td></tr></table>
<% end %>
</div>
