<html>

  <body>
    <h1> <%= current_user.username %>'s requests:</h1>

<% if !@requests_sent.empty? %>
    <h3> Sent </h3>
<% end %>

    <div>
      <ul id="requests_sent">
        <% @requests_sent.each do |request| %>
          <% space = Space.first(id: request.space_id) %>
          <a href="/request/<%= request.id %>">
          <%= space.name %>
          <img src="<%= space.image_url %>" width="300" height="300">
          </a>
          £<%= space.price %>
          <%= request.date %>
          <%= request.status %>
          <p>
        <% end %>
      </ul>
    </div>

<% if !@requests_received.empty? %>
  <h3> Received </h3>
<% end %>

    <div>
      <ul id="requests_received">
        <% @requests_received.each do |request| %>
          <% space = Space.first(id: request.space_id) %>
          <% user = User.first(id: request.user_id) %>
          <a href="/request/<%= request.id %>">
          <%= space.name %>
          <img src="<%= space.image_url %>" width="300" height="300">
        </a>
          <%= user.username %>
          £<%= space.price %>
          <%= request.date %>
          <%= request.status %>
          <p>
        <% end %>
      </ul>
    </div>


  </body>
</html>
