<html>

  <body>
    <p> <%= current_user.username %>'s requests:</p>

    <div>
      <ul id="requests">
        <% @requests_sent.each do |request| %>
          <% space = Space.first(id: request.space_id) %>
          <a href="/request/<%= request.id %>"><%= space.name %></a>
          <%= space.price %>
          <%= request.date %>
          <p>
        <% end %>
      </ul>
    </div>
  </body>
</html>
